html,
body
  height: 100%
  overflow: hidden

html
  font: 1em "Helvetica Neue","Helvetica","Arial", sans-serif
  font-weight: 200

body
  margin: 0
  height: 100%


[data-group]
  width: 50%
  height: 100vh
  overflow: hidden
  position: absolute

  &:hover
    .index
      transform: translateY(0)


[data-group=hdli]
  right: 50%
  background-color: gold

  .index
    color: gold
    direction: rtl

  .article
    text-align: right

    span
      &:hover,
      &.active
        background-color: gold

[data-group=bdd]
  left: 50%
  background-color: yellowgreen

  .index
    color: yellowgreen

  .article
    span
      &:hover,
      &.active
        background-color: yellowgreen

svg
  height: 100%
  width: 100%

  &#close-icon
    float: right
    height: 5em
    margin: .625em
    width: auto

    cursor: pointer
    opacity: .5
    transition: opacity ease .4s

    line
      stroke: #111
      stroke-width: .5

    &:hover
      opacity: 1

.index
  width: 100%
  height: 100%
  position: absolute
  top: 0

  background-color: rgba(#111, .9)

  transform: translateY(100%)
  transition: transform ease .4s

h2
  font-size: 3em
  margin: .5em 0 1em
  line-height: 1em
  text-align: center
  font-weight: 200

  &.title
    margin: .5em 2em 1em

.list,
.content
  height: calc(100vh - 7.5em)
  overflow: auto
  box-sizing: border-box

.article
  font-size: 3em
  padding: 1px 0 0

  span
    cursor: pointer
    position: relative
    padding: .5em
    display: inline-block
    font-weight: 100

    transition: color ease .4s, background-color ease .4s

    &:hover,
    &.active
      color: #111

#show
  width: 50%
  height: 100vh
  overflow: hidden
  position: absolute

  opacity: 0
  transition: opacity ease .4s

  z-index: -1

.loader
  border: 2vh solid rgba(#111, .25)
  border-top: 2.2vh solid rgba(#111, .75)
  border-radius: 50%
  width: 15vh
  height: 15vh

  position: absolute
  top: 40.5vh
  left: calc(50% - 9.5vh)

  animation: spin .5s linear infinite

  opacity: 0
  transition: opacity ease .4s
  z-index: -1

  &.active
    opacity: 1
    z-index: 0

@keyframes spin
  100%
    transform: rotate(360deg)

.content
  opacity: 0
  transition: opacity ease .4s
  padding: 0 1.5em 1em
  letter-spacing: .25px
  line-height: 1.35em

  &.active
    opacity: 1

  > *:first-child
    max-width: 48em
    margin: auto

  .error
    padding: 1em
    border: firebrick 1px solid
    color: firebrick
    background-color: #fbfbfb

  a
    &,
    &:hover,
    &:visited,
    &:active,
    &:focus
      color: inherit

  h3
    font-weight: 400
    font-size: 2.5em
    margin-bottom: .5em

  p
    text-align: justify

    &.align-center
      text-align: center

  hr
    border: none
    border-top: 1px solid rgba(#111, .35)
    margin: 2em 0

  table
    margin: auto
    text-align: center
    border-collapse: collapse

    &.align-right
      text-align: right

    &.align-left
      text-align: left

    tr + tr
      border-top: 1px solid rgba(#111, .35)

    th
      font-weight: 200
      text-align: center
      text-transform: uppercase
      padding: 0.3em 0.5em

    td
      padding: .4em

      &.align-right
        text-align: right

      &.align-left
        text-align: left

      &.align-center
        text-align: center

      &+ td
        border-left: 1px solid rgba(#111, .35)

  .video
    position: relative
    padding-bottom: 53%
    padding-top: 25px
    height: 0

    &.computer-display
      font-size: 12px
      border: 3em solid #fbfbfb
      border-bottom-width: 5em
      border-radius: 2.5em

      &:after
        content: ""
        position: absolute
        width: 3em
        height: 3em
        bottom: -4em
        left: calc(50% - 1.5em)
        background-color: rgba(#111, .8)
        border-radius: 50%

    iframe
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%

  .fluid
    display: flex

    & > div
      width: 100%

  .triggered-animation
    position: relative

    p
      position: absolute
      top: calc(50% - 1.6em)

      width: 100%
      margin: 0

      .btn
        margin: 0
        background-color: yellowgreen
        opacity: 0
        transition: opacity .5s ease
        pointer-events: none

        &:hover
          background-color: #fbfbfb

        &.active
          opacity: 1
          pointer-events: auto

.btn
  margin: .5em 0
  padding: .75em
  font-weight: 200
  border: 1px solid #111
  border-radius: 2px
  cursor: pointer
  display: inline-block
  transition: all ease .4s
  letter-spacing: .25px
  text-decoration: inherit

  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap

  &:hover
    color: #111
    background-color: #fbfbfb

  &.disabled
    cursor: default
    background-color: #bbb

    &:hover
      color: inherit

.btn-group
  .btn
    margin: .25em .5em .25em 0
    background-color: #fbfbfb

    &:hover
      text-decoration: underline

[data-rating]
  @extend .btn
  border-radius: 0
  background-color: #fbfbfb

  &:hover:not(.disabled)
    background-color: transparent

  &.checked
    background-color: transparent
    cursor: default

    &:hover
      color: inherit

[data-active-group]
  #show
    opacity: 1
    z-index: 0

[data-active-group=hdli]
  [data-group=hdli]
    .index
      transform: translateY(0)

  #show
    transform: translateX(100%)
    background-color: gold

[data-active-group=bdd]
  [data-group=bdd]
    .index
      transform: translateY(0)

  #show
    background-color: yellowgreen

  .content
    direction: rtl
    overflow-x: hidden

    *
      direction: ltr
